html{
  scroll-behavior: smooth;
}
.container-video{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .video{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}