:root {
  --primaryColor: #a48451;
  --secondaryColor: #7d7d7e;
  --thirdColor: #1d2222;

  --primaryBackgroundColor: #2b2b2a;
  --secondaryBackgroundColor: #404040;

  --primaryFontColor: #f1f5f9;
  --secondaryFontColor: #94a3b8;

  --defaultWhite: #fff;
  --defaultDark: #0d0d0d;
}
body{
  text-align: center;
}
.bento-container{
  margin: 0 auto;
  display: grid;
  grid-gap: 40px;
  grid-auto-rows: minmax(100px, auto);
}

.bento1{
  grid-template-columns: 1fr 1.4fr 1.4fr 1fr;
  grid-template-rows: 1.6fr 0.2fr 0.8fr 1fr;
}

.bento2{
 
  grid-template-columns: 1fr 2fr 1fr 1fr;
  grid-template-rows: 1fr 0.8fr 0.6fr 0.2fr 1fr;
}

.bento-container div{
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.bento1_1{
  grid-area: 1/1 / 3/2;
}
.bento1_2{
  grid-area: 1/2 / 4/3;
}
.bento1_3{
  grid-area: 1/3 / -4/5;
}
.bento1_4{
  grid-area: 3/1 / 5/-4;
}
.bento1_5{
  grid-area: 4/-4 /  5/-3;
}
.bento1_6{
  grid-area: 2/3 /  -1/-2;
}
.bento1_7{
  grid-area: 2/4 / -2/5;
}
.bento1_8{
  grid-area: 4/4 / -1/-1;
}

.bento2_1{
  grid-area: 1/1 / 2/2;
}
.bento2_2{
  grid-area: 1/2 / -3/4;
}
.bento2_3{
  grid-area: -6/4 / -4/5;
}
.bento2_4{
  grid-area: 2/1 / 5/2;
}
.bento2_5{
  grid-area: 5/1 / 6/-4;
}
.bento2_6{
  grid-area: 4/-4 / 6/-3;
}
.bento2_7{
  grid-area: 4/-3 / -1/-2;
}
.bento2_8{
  grid-area: -4/4 / -1/-1;
}