:root {
  --primaryColor: #a48451;
  --secondaryColor: #7d7d7e;
  --thirdColor: #1d2222;

  --primaryBackgroundColor: #2b2b2a;
  --secondaryBackgroundColor: #404040;

  --primaryFontColor: #fafafa;
  --secondaryFontColor: #94a3b8;

  --defaultWhite: #fff;
  --defaultDark: #0d0d0d;
}

* {
  margin: 0;
  padding: 0;
}
.header {
  background-color: transparent;
  width: 100vw;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 10;
  position: absolute;

  .menu-container {
    width: auto;
  }
  .menu-container:active{
    transform: scale(.8);
  }
  div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .logo-header-container {
    width: 250px;
    img {
      width: 100%;
      min-width: 200px;
    }
  }
  .shown {
    display: block;
  }
  .hidden {
    display: none;
  }
}

.icon-header {
  width: 50px;
  font-size: 2em;
  color: white;
}
.icon-header:hover{
  color: var(--primaryColor);
}
.icon-header:active{
  transform: scale(.8);
}

.menu-navbar {
  background-color: var(--primaryFontColor);
  width: auto;
  height: 100%;
  position: fixed;
  z-index: 20;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  transition: ease-in-out 0.5s;
  left: 0px;
  overflow: hidden;

  .menu-logo {
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2em;
    .icon-menu {
      font-size: 1.8em;
      width: 50px;
    }
    .icon-menu:active{
      transform: scale(.8);
    }
    img {
      width: 80%;
      max-width: 300px;
      min-width: 200px;
    }
  }
  .menu-links-container {
    height: 50%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .menu-link {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      p {
        font-weight: 800;
        font-size: 1.6em;
        a{
          text-decoration: none;
          color: var(--defaultDark);
        }
      }
      .icon-navbar:active{
        transform: rotate(90deg);
      }
    }
  }
  .menu-contact-container {
    width: 30%;
    margin-top: 1em;
    display: flex;
    justify-content: start;
    align-items: center;

    .menu-contact {
      font-size: 1.5em;
      font-weight: 100;
      a{
        text-decoration: none;
        color: var(--defaultDark);
      }
    }
  }
}

.hidden {
  left: -500px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .header {
    .menu-container {
      display: block;
    }
    .logo-header-container {
      display: block;
    }
    .icons-header-container {
      display: none;
    }
  }
  .menu-navbar {
    width: 100vw;
    height: 100dvh;

    .menu-links-container .menu-link {
      justify-content: space-around;
      .chevronRight {
        display: block;
      }
      .plus {
        display: none;
      }
    }
    .menu-contact-container {
      width: 100%;
      justify-content: center;
    }
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .menu-navbar {
    max-width: 400px;
  }
  .header {
    .menu-container {
      display: block;
    }
    .logo-header-container {
      display: block;
    }
    .icons-header-container {
      display: none;
    }
  }
  .menu-navbar {
    width: 100%;
    .menu-links-container .menu-link .plus {
      display: none;
    }
    .menu-links-container .menu-link {
      justify-content: space-around;
      .chevronRight {
        display: block;
      }
      .plus {
        display: none;
      }
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .header {
    .icons-header-container {
      display: block;
    }
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .menu-navbar {
    max-width: 400px;
  }
  .menu-navbar {
    .menu-links-container .menu-link {
      justify-content: space-between;
      .chevronRight {
        display: none;
      }
      .plus {
        display: block;
      }
    }
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
