:root {
  --primaryColor: #a48451;
  --secondaryColor: #7d7d7e;
  --thirdColor: #1d2222;

  --primaryBackgroundColor: #2b2b2a;
  --secondaryBackgroundColor: #404040;

  --primaryFontColor: #f1f5f9;
  --secondaryFontColor: #94a3b8;

  --defaultWhite: #fff;
  --defaultDark: #0d0d0d;
}

* {
  margin: 0;
  padding: 0;
}
.line-footer {
  border: 2px solid #ffffff;
  margin: 0;
}
.footer {
  width: 100%;
  height: auto;
  position: relative;
  gap: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: var(--defaultWhite);
  div {
    width: 30%;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .social-media-container {
    height: 400px;
    .logo-footer-container {
      max-width: 350px;
      img {
        width: 100%;
      }
    }
    .social-media-icons-container {
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 1em;
      .social-media-icon {
        font-size: 1.8em;
      }
    }
  }

  .find-us-container {
    width: 20%;
    max-width: 300px;
    justify-content: center;
    gap: 1em;
    h2 {
      font-size: 2em;
    }
    img {
      width: 90%;
    }
  }

  .suscribe-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 35%;

    .suscribe-title {
      width: 90%;
      margin-top: 2em;
      font-weight: 700;
      p {
        font-size: 1.6em;
      }
    }
    .suscribe-input-container {
      width: 90%;
      height: 20%;
      margin-top: 2em;
      display: flex;
      flex-direction: column;
      justify-content: start;
      gap: 1em;

      .input {
        height: 50px;
        font-weight: 800;
        font-size: 1em;
        color: var(--primaryFontColor);
        background-color: var(--secondaryColor);
      }
      .suscribe-btn {
        display: flex;
        justify-content: start;
        align-items: start;
        width: 100%;
        height: 40px;

        .btn {
          width: 30%;
          padding: ;
          max-width: 300px;
          position: relative;
          border: 2px solid var(--primaryColor);
          color: var(--primaryFontColor);
          background: transparent;
          font-size: 20px;
          cursor: pointer;
          border-radius: 30px;
          transition: .3s;
          overflow: hidden;
        }
        .btn::before{
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: var(--primaryColor);
          z-index: -1;
        }
      }
      .input,
      .suscribe-btn-container {
        width: 100%;
        display: flex;
        justify-content: start;
        background-color: var(--primaryColor);
      }
    }
  }
}

.license-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  .license {
    width: 92%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    hr {
      width: 100%;
      height: 1px;
      background-color: var(--secondaryColor);
    }
    .policies-container {
      display: flex;
      justify-content: space-between;
      margin-top: 1em;

      .rights,
      .policies {
        display: flex;
        align-items: center;
      }
      .policies {
        gap: 4px;
      }
    }
  }
  .logo {
    width: 4%;
    max-width: 70px;
    margin-left: 0;
    img {
      width: 100%;
    }
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .license-container {
    flex-direction: column;
    gap: 5px;
    .logo {
      width: 90%;
      img {
        width: 100%;
      }
    }
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .footer {
    .suscribe-container {
      width: 100%;
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .footer div {
    max-width: 400px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
