.grids-container{
  width: 100%;
  min-height: 100dvh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  div{
    width: 100%;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .Whatgrid1{
    grid-area: 1/1 / -2/3;
  }
  .Whatgrid4{
    grid-area: 4/1 / 5/-3;
  }
  .Whatgrid5{
    grid-area: 3/2 / 5/-1;
  }
}